backup/*
figure_demos/*
final_data/*
final_data_sample/*
fresh_data/*
image_data/*
original_data/*
resmapled_data/*
resampled_data_sample/*
temp_data/*
videos/*

move.sh
transfer.sh
rename.sh


final_data/*
fresh_data/*
old_scripts/*
original_data/*
resampled_data/*
__pycache__/*
.vscode/*